.fs-28
{
    font-size: 28pt;
}

#img-bg{
  background-image: url('https://i.imgur.com/QZCY9HZ.png');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #90CAF9;
}

.bg{
  background-color: #90CAF9;
}

#entrar{
  background-color: #ffffff;
  padding-right: 8rem;
  padding-left: 8rem;
  height: 380pt;
  width: 300pt;
  padding-top: 4%;
  padding-bottom: 3%;

  width: 350px;
  padding: 20px 30px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 1rem;
}

.btn {
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  width: 350px;
  height: 43px;
  left: 906px;
  top: 523px;
  background-color: #0000cd;
  border-radius: 8px;
}
